<mat-toolbar>

   
    <span class="example-spacer"></span>

    <div class="text"> 
        <h3>NOVA ADMISSÃO COOPERADO</h3>
        <p>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </p>
    </div>
   
    
    <button routerLink="" mat-icon-button class="buttonHeader" aria-label="Example icon-button with share icon">
        <mat-icon>notifications_none</mat-icon>
      </button>

      <button class="btn">VIACREDI</button>

      <button routerLink="" mat-icon-button class="buttonHeader" aria-label="Example icon-button with share icon">
        <img src="assets/usuario.jpg" alt="">
      </button>

      <!-- account_circle -->
      
   
  

  
  </mat-toolbar>
  
