.progressbar {
    counter-reset: step;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 15.50%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: '';
    counter-increment: step;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #4F575E;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #D8D8D8;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #4F575E;
    top: 11px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li:active {
    color: #005779;
}

.progressbar li.active:before {
    border-color: #005779;
}

.progressbar li.active + li:after {
    background-color: #005779;
}

p{
   color: #4F575E;
   font-size: 12px;
}

h3{
    font-weight: 450;
    font-size: 18px;
}


  input {
    color: #000 ;
    border:1px solid #889499;
    padding: 6px 20px;
    margin: 0px 20px 0 0 ;
    box-sizing: border-box #165C7D;
  }

  .btn {
    background-color: #165C7D;
	border:1px solid #165C7D;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 18px;
	text-decoration:none;
	text-shadow:0px 1px 2px #165C7D;
  }

  .btn:hover {
	background-color:#005779;
}

  .btn:active {
	position:relative;
	top:1px;
}

  .campocpf {
    display: inline-block;
    padding-top: 50px;
    margin-left: 50px;
  }


   .cpfinvalido {
    margin-left: 50px;
    font-weight: 600;
   }

   .cardConsulta {
     background-color: #FFFFFF;
     border-radius: 1px;
     box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
     padding: 15px;
     margin: 20px 50px;
     width: 200px;
     transition: all 0.3s ease-out;
   }

   .text {
    color: #000;
    font-size: 15px;
    font-weight: 500;
   }

   .destaca {
      color: #000000;
      font-weight: 580;
   } 
  
   mat-icon {
     padding-top: 5px;
     padding: 12px;
   }

   .divCliente {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
   }

   .divSituacao {
    display: flex;
    flex-direction: row;
   }

   .situacao {
    flex-direction: column;
   }

   .nomeCliente {
     flex-direction: column;
   }

   .check {
    color: green;
   }

   p {
     margin-bottom: -2px;
   }

  