<div class="container">
    <ul class="progressbar">
         <li class="active">Inicio</li>
         <li>Documentos</li>
         <li>Dados Cadastrais</li>
         <li>Admissão</li>
    </ul>
</div>

<div class="campocpf">

   <h3>Informe o CPF do futuro cooperado(a)</h3>
   <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente. <br>
       Digite apenas os números (sem pontos ou traços). </p>

    
        <h3>CPF</h3>
      
          <form >
            <input (input)="input()"  [(ngModel)]="cpf" type="text"  name="cpf" maxlength="14">
            <button class="btn" (click)="consultarCpfCliente()" [class.valido]="verCpfValidado" [disabled]="verCpfValidado">Consultar por CPF</button>
          </form>

    </div>
    <div class="cpfinvalido">
      <div *ngIf="error.length > 0">
         <p>{{error}}</p>
      </div>
    </div>

    <div class="cardConsulta" *ngIf="cliente">

      <div *ngIf="cliente">

        <div >
          <div>
            <p class="text">Situação Cadastral do CPF</p>
            <p>Consulta na Receita Federal</p>
          </div>
          <div class="divCliente">
            <mat-icon>person</mat-icon>
            <div class="nomeCliente">
              <p>Nome</p>
              <h5 class="destaca">{{cliente.nome}}</h5>
            </div>
          </div>
          <div class="divSituacao">
            <mat-icon class="check">check_circle</mat-icon>
            <div class="situacao">
              <p>Situação do CPF</p>
              <p class="destaca">{{cliente.situacao}}</p>
            </div>
          </div>
        </div>
    
      </div>

    </div>
