<div class="container">
    <ul class="progressbar">
         <li class="active">Inicio</li>
         <li>Documentos</li>
         <li>Dados Cadastrais</li>
         <li>Admissão</li>
    </ul>
</div>

<div class="campocpf">

   <h3>Informe o CPF do futuro cooperado(a)</h3>
   <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente. <br>
       Digite apenas os números (sem pontos ou traços). </p>

    
        <h3>CPF</h3>
      
          <form>
            <input (input)="formataInput()"  [(ngModel)]="cpf" type="text"  name="cpf" maxlength="14">
            <button class="btn" (click)="onConsultar()" [class.valido]="isCpfValido" [disabled]="isCpfValido">Consultar por CPF</button>
          </form>

    </div>
    <div class="resultado">
      <div class="erro" *ngIf="mensagemErro.length > 0">
         <p>{{mensagemErro}}</p>
      </div>
    </div>

    <div class="sucesso" *ngIf="cliente">
      <div *ngIf="cliente">
        <div class="cardCliente">
          <div class="titulo">
            <p>Situação Cadastral do CPF</p>
            <p>Consulta na Receita Federal</p>
          </div>
          <div class="containerNome">
            <mat-icon>person</mat-icon>
            <div class="nome">
              <p>Nome</p>
              <p>{{cliente.nome}}</p>
            </div>
          </div>
          <div class="containerStatus">
            <mat-icon>check_circle</mat-icon>
            <div class="status">
              <p>Situação do CPF</p>
              <p>{{cliente.situacao}}</p>
            </div>
          </div>
        </div>
    
      </div>
    </div>
